@use "@styles/_variables.scss" as *;
@use "@styles/_mixins.scss" as *;

.secondaryHeader {
    background-color: $base-color;
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    font-size: $font-base;
    font-family: $primary-font;

    .left {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: $tablet-m) {
        display: flex;
        padding: 1rem 1.5rem;
    }
}
